<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Staek" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-100">
    <div class="flex flex-rows mx-auto max-w-5xl">
      <header class="px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
          <div class="flex items-center">
            <img src={~p"/images/logo.svg"} width="36" />
            <p class="px-2 font-medium leading-6">
              Staek<span class="hidden md:inline"> - split your bills with ease</span>!
            </p>
            <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
              v<%= Application.spec(:staek, :vsn) %>
            </p>
          </div>
        </div>
      </header>

      <%= if @current_user do %>
        <div class="relative z-0 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end ml-auto">
          <.dropdown
            text={@current_user.name}
            items={[
              %{text: "Settings", href: ~p"/users/settings"},
              %{text: "Groups", href: ~p"/groups"},
              %{text: "Log out", method: "delete", href: ~p"/users/log_out"}
            ]}
          />
        </div>
      <% else %>
        <div class="relative z-20 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end ml-auto">
          <ul class="flex flex-rows gap-4">
            <li>
              <.link
                href={~p"/users/register"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log in
              </.link>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    <%= @inner_content %>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.phoenix.min.js">
    </script>
  </body>
</html>
