<div class="flex flex-row">
  <div class="basis-1/5 bg-slate-200">
    <div class="flex flex-col">
      <div>Groups</div>
      <div>Friends</div>
    </div>
  </div>
  <div class="basis-3/5 bg-slate-50">
    <div class="text-3xl">Dashboard</div>
    <div class="flex flex-row">
      <div class="basis-1/2">You owe</div>
      <div class="basis-1/2">You are owed</div>
    </div>
  </div>
  <div class="basis-1/5 bg-slate-200">Staek Pro: pay once, eat twice! ;p</div>
</div>
