<.header>
  New Group
  <:subtitle>Use this form to manage group records in your database.</:subtitle>
</.header>

<.group_form changeset={@changeset} action={~p"/groups"} />

<.back navigate={~p"/groups"}>Back to groups</.back>
