<.header>
  New Expense
  <:subtitle>Use this form to manage expense records in your database.</:subtitle>
</.header>

<.expense_form changeset={@changeset} action={~p"/expenses"} />

<.back navigate={~p"/expenses"}>Back to expenses</.back>
