<.header>
  Add an expense
</.header>

<.expense_form changeset={@changeset} action={~p"/expenses"} members={@members} group={@group} />

<.back navigate={~p"/groups/#{@group.id}"}>Back to group</.back>
